<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Learn English Online: English Tree" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>
  	<div id="wrapper" class="">
		  <div id="sideNav" class="large-3 columns">
          	<nav class="site">
	            <ul>
	              <li><a href="http://topcoat.io/">Home</a></li>
	              <li class="selected"><a href="http://topcoat.io/topcoat">Demo</a></li>
	              <li><a href="http://bench.topcoat.io/">Benchmarks</a></li>
	              <li><a href="http://topcoat.io/blog">Blog</a></li>
	            </ul>
	        </nav>
	          <div id="pageNav">
	            <ul>
	              <li><a href="http://topcoat.io/topcoat/index.html#button-bar">Button Bar</a></li>
	              <li><a href="http://topcoat.io/topcoat/index.html#large-buttonbar">Large Button Bar</a></li>
	              <li><a href="http://topcoat.io/topcoat/index.html#button">Button</a></li>
	              <li><a href="http://topcoat.io/topcoat/index.html#quiet-button">Quiet Button</a></li>
	              <li><a href="http://topcoat.io/topcoat/index.html#large-button">Large Button</a></li>
	              <li><a href="http://topcoat.io/topcoat/index.html#large-quietbutton">Large Quiet Button</a></li>
	              <li><a href="http://topcoat.io/topcoat/index.html#call-toaction button">Call To Action Button</a></li>
	              <li><a href="http://topcoat.io/topcoat/index.html#large-callto action button">Large Call To Action Button</a></li>

	            </ul>
	          </div>
		  </div>
      </div>
      
          
    
     <div id="site" class="">

	        	<header id="main-header">
					<div class="max-width row">
						<hgroup class="large-3 large-offset-0 medium-6 medium offset-3 small-6 small-offset-3 columns">
							<h1><a href=#><img src="../images/treelogo.svg"></a></h1>
						</hgroup>
						<nav class="large-6 offset-6">
							<ul>
								<li class="selected"><a href="#">Demo</a></li>
								<li><a href="http://bench.topcoat.io/">Benchmarks</a></li>
								<li><a href="http://topcoat.io/blog">Blog</a></li>
							</ul>
						</nav><a id="slide-menu-button" class="topcoat-icon-button--large--quiet"><span class="topcoat-icon--large topcoat-icon--menu-stack"></span></a>
					</div>
				</header>
		
    
    
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <div id="content" class="row">
    	
			<div class="large-12 columns" class="max-width">

    <%= yield %>
    

    		</div>
		
  	</div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
